.username {
  margin-top: 15px !important;
  text-align: center;

  a {
    color: black !important;
    margin: 0 !important;
    display: inline !important;
    padding: 5px !important;
  }
  a:hover,
  a:focus {
    color: #000 !important;
  }
}

.btn-logout {
  padding-left: 0;
  .btn {
    margin-top: 7% !important;
  }
}

.nav.navbar-nav {
  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 4%;
  }

  .btn-danger:hover,
  .btn-danger:focus {
    background-color: darken(#d9534f, 20%) !important;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: darken(#428bca, 20%) !important;
  }
}

.btn-primary:visited,
.btn-danger:visited {
  color: #fff;
}

.features {
  ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
    li {
      text-align: center;
    }
    li::before {
      content: "\203A\00a0";
    }
    li::after {
      content: "\00a0\2039";
    }
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url("bg.jpg");
  background-size: cover;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.pl-0 {
  padding-left: 0 !important;
}
